
    
    #app {
      display: inline-block;
      padding: 10px;
      font-size: x-large;
      background-color: lightgreen;
    }

    h1 {
      font-weight: 600;
    }

    body {
      background:rgb(221, 221, 228);
    }

    div {
      margin: 10px;
      padding: 10px;
      border: solid black 1px;
      display: inline-block;
    }
 
    .pinkBG{
      background-color: lightpink;
    }

       #app2 > div {
      border: solid black 1px;
      width: 80%;
      padding: 10px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
 
    figure {
      width: 80px;
      padding: 10px;
      margin: 10px;
      background-color: lightskyblue;
      border-radius: 5px;
    }
 
    figcaption {
      text-align: center;
    }
    img {
      width: 100%;
    }

    #app3 {
      border: dashed black 1px;
      display: inline-block;
      padding: 0 20px;
    }
    #app3 label, #app3 li {
      padding: 5px;
      border-radius: 5px;
    }
    #app3 label:hover, #app3 li:hover {
      cursor: pointer;
      background-color: lightgray;
    }
    ul {
      list-style-type: none;
    }
    li {
      margin: 2px;
      background-color: rgb(211, 254, 211);
    }
    .impClass {
      background-color: rgb(255, 202, 202);
    }
    #ulFound li {
      text-decoration: line-through;
      background-color: rgb(230,230,230);
    }